  
 body {
  background-image: url(./assets/4884273.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  


}
 
.box {
  background-color: #3498db;
  border-radius: 10px;
  width: 300px;
  height: 100%;
  align-items: center;
  
}

.box:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


 h1 {
  
    padding: 50px;
    color: aliceblue;

    
 }
  
  
  nav {
    
    
    text-align: right;
    margin-right: 20px; /* Adicionado margem à direita para espaçamento */
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
  }
  
  li {
    margin-left: 10px; /* Adicionado espaçamento entre os itens do menu */
    cursor: pointer;
    background-color: #3498db;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #2980b9;
  }
  